*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    height: 50px;
    width: 50px;
}


header{
    background-color: white;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(179, 179, 179);
}


.log{
    display: flex;
    padding: 1.5rem 3rem;
    position: relative;
    margin-left: 100px;
}

.palog{
    margin-top: 15px;
    margin-left: 5px;
}

input{
    padding: 14px 20px;
    border-radius: 5px;
    background-color:red;
    border: 1px solid red;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 400px;
    top: -70px;
}


.btn1{
    cursor: pointer;
    font-size: 17px;
    padding: 14px 20px;
    border: 2px solid #00a9ff;
    background-color: white;
    color: #00a9ff;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgb(163, 161, 161);
    position: relative;
    left: 650px;
    top: -70px;
    margin-right: 20px;
}

.btn2{
    cursor: pointer;
    font-size: 17px;
    padding: 10px 16px;
    border: 2px solid rgb(163, 161, 161);
    background-color: white;
    color: black;
    position: relative;
    left: 650px;
    top: -70px; 
    margin-right: 5px;
}

.btn3{
    cursor: pointer;
    font-size: 17px;
    padding: 10px 16px;
    border: 2px solid rgb(163, 161, 161);
    background-color: white;
    color: black;
    position: relative;
    left: 650px;
    top: -70px; 
}


.contain{
    box-shadow: .5rem 0rem .5rem rgba(0,0,0,0.1);
    margin-bottom: 200px;
}


.container{
    height: 400px;
    background: rgb(230, 240, 242);
    box-shadow:  -.5rem .5rem .5rem  rgb(218, 218, 218) ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.container img{
    height: 400px;
    width: 50%;
    position: relative;
    left: 550px;
}


.container2{
    margin-top: -300px;
}


.btn4{
    cursor: pointer;
    font-size: 20px;
    padding: 18px 24px;
    border: 2px solid #00a9ff;
    background-color: white;
    color: #00a9ff;
    box-shadow: 1px 1px 10px rgb(163, 161, 161);
    position: relative;
    left: 60px;
    margin-top: 10px;
}



.row ul {
    margin-left: 220px;
    margin-top:-150px;
}

.row ul li{
    width: 300px;
    float: left;
    list-style: none;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}

.row .col ul li h3{
    position: relative;
    left: 120px;
   background: rgba(0, 0, 0, 0.75);
   border-radius: 5px;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   border: 1px solid #fff;
   object-fit: cover;
   font-size: 25px;
   color: white;
}

.row .col h3{
   margin-bottom: 20px;
}


.content{
    display: flex;
    width: 50px;
    float: left;
    margin-right: 500px;
}

.contain1{
    margin-bottom: 200px;
}

.content{
   width: 50px;
   margin-left: 100px;
}

.content .bo{
    margin-left: 50px;
    text-align: center;
}

.text{
    width:50%;
    padding: 30px 20px;
    border: 1px solid #f1f1f1;
    position: relative;
    left: 350px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgb(163, 161, 161), 0 5px 5px 0 rgb(163, 161, 161);
}

.text1 ul{
    font-size: 20px;
}